<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    {{.Region}}<br>
    {{ range .Hotels}}
    	{{.Name}} {{.Address}} {{.City}} {{.Zip}}<br>
    {{end}}
{{end}}

</body>
</html>